body{
  background: linear-gradient(180deg, #FFEEEE, #DDEFBB);
  height: 1080px;
}

.headtop{
    background-color: brown;
    height: 850px;
    border: 3px solid coral;
  }
  #title{
    position: relative;
    font-family: "Norse";
    text-transform: uppercase;
    font-size: 5vw;
    text-align: center;
    color:rgb(236, 218, 139);
  }
  #picture1{
    border: 5px solid salmon;
    width: 500px;
  }
  #detail{
    margin-top: 40px;
    font-size: 25px;
    font-family: "Norse";
    text-align: center;
    color: burlywood;
  }
  .middle{
    background-color: crimson;
    display: flex;
    padding: 20px;
    border: 3px solid sandybrown;
    margin-top: 5px;
  }
  .middle> div{
    flex: 1;
  }
  #linklistsangria{
    font-size: 30px;
    padding: 20px;
    background-color: chocolate;
    border: 3px solid floralwhite;
    text-align: center;
  }
  #linklistsangria> #text{
    color: aqua;
  }
  #linklistjollofrice{
    font-size: 30px;
    padding: 20px;
    background-color: chocolate;
    border: 3px solid floralwhite;
    text-align: center;
  }
  #linklistjollofrice> #text{
    color: chartreuse;
  }
  #linklistfriedbeeftacos{
    font-size: 30px;
    padding: 20px;
    background-color: chocolate;
    border: 3px solid floralwhite;
    text-align: center;
  }
  #linklistfriedbeeftacos> #text{
    color: yellow;
  }
nav{
    margin-bottom: 5px;
}
.container{
    background-color: teal;
    border: 3px solid coral;
    padding: 10px;
    gap: 8px;
    display:flex;
    justify-content: end;
}
.signin{
    background-color: thistle;
    padding: 10px;
    border: 2px solid aqua;
}
.home{
    background-color: thistle;
    padding: 10px;
    border: 2px solid aqua; 
}
.about{
    background-color: thistle;
    padding: 10px;
    border: 2px solid aqua;
    
}