.headtop{
    background-color: brown;
    padding: 20px;
  }
  #title{
    position: relative;
    font-family: "Norse";
    text-transform: uppercase;
    font-size: 5vw;
    text-align: center;
    color:rgb(236, 218, 139);
  }
  .middle{
    background-color: crimson;
  }
  #linklist{
    text-align: center;
  }
  #linklistsangria{
    font-size: 30px;
    color: aqua;
  }
  #linklistjollofrice{
    font-size: 30px;
    color: chartreuse;
  }
  #linklistfriedbeeftacos{
    font-size: 30px;
    color: yellow;
  }
nav{
    margin-bottom: 10px;
}
.container{
    background-color: teal;
    border: 3px solid coral;
    padding: 20px;
    gap: 8px;
    display:flex;
    flex-direction: row-reverse;
}
.signin{
    background-color: thistle;
    padding: 15px;
    border: 2px solid aqua;
}
.home{
    background-color: thistle;
    padding: 15px;
    border: 2px solid aqua; 
}
.about{
    background-color: thistle;
    padding: 15px;
    border: 2px solid aqua;
    
}