body{
    background: linear-gradient(180deg, #FFEEEE, #DDEFBB);
    height: 1080px;
    width: 100%;
    margin: 0;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
.top{
  padding: 30px;
  margin: 0;
  background: linear-gradient(180deg, #eefff2, #bbefe5);

}
  .topic{
    text-align: center;
    font-size: 30px;
    font-family: "Norse";
    color: chocolate;
    margin-top: 30px;
    text-transform: uppercase;
  }